
:root {
    --prim: rgb(214, 30, 24);
    --sec: white;
    --ter: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header, footer {
    background-color: var(--prim);
    color: var(--sec);
    padding: 1rem;
    display: flex;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

header {
    justify-content: space-between;
    align-items: center;
}

footer {
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: var(--sec);
    padding: 1rem;
}

nav a:hover {
    background-color: var(--sec);
    color: var(--ter);
    border-radius: 20px;
}

main {
    padding: 1rem;
}

#jumbo {
    width: 100%;
    height: 200px;
    object-fit: fill;
}

h1 {
    text-align: center;
    background-color: var(--prim);
    color: var(--sec);
    margin: 1rem 0;
}

h2 {
        text-align: center;
    background-color: var(--prim);
    color: var(--sec);
    margin: 1rem 0;
}

.card-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
}
.card {
    border: 1px solid black;
    background-color: var(--prim);
    color: var(--sec);
    border-radius: 8px;
    width: 200px;
    height: 250px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 5px 5px 10px 0 grey;
    scale: calc(1.05);
}

.card-img img{
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.card-text {
    padding: 0.5rem;
    text-align: center;
}

.card-container a {
    text-decoration: none;
    color: var(--sec);
}

.main-detalhe {
    display: flex;
    justify-content: center;
    align-items: center;
}

#texto-detalhe {
    width: 60%;
    padding: 1rem;
}

form {
    background-color: var(--prim);
    color: var(--sec);
    padding: 1rem;
    border-radius: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-item {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-item input {
    border-radius: 8px;
    padding: 0.5rem;
    border: none;
    width: 75%;
}

button {
    background-color: var(--sec);
    color: var(--prim);
    padding: 0.5rem;
    border-radius: 10px;
    margin: 1rem;
    border: 1px solid var(--prim);
    cursor: pointer;
}

button:hover {
    background-color: var(--prim);
    color: var(--sec);
    border: 1px solid var(--ter)
}